* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --sizeGameCanvas: 500px; */
}

#canvas {
    display: block;
    margin: 0 auto;

    width: 288px;
    height: 512px;

    /* background-color: aqua; */
}