* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --widthCanvast: 288px;
    --heightCanvast: 512px;

    --mainColor: green;
    --borderColor: #1E5945;
}

.flexCeCe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDirColumn {
    flex-direction: column;
}

#canvas {
    display: none;
    margin: 0 auto;

    width: var(--widthCanvast);
    height: var(--heightCanvast);
}

.score {
    width: var(--widthCanvast);
    height: 40px;

    margin: 0 auto;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.mainPanel {
    width: var(--widthCanvast);
    height: var(--heightCanvast);

    margin: 0 auto;

    background-color: var(--mainColor);
    border: 2px solid var(--borderColor);

    border-radius: 10px;
}

.startGame {
    width: 250px;
    height: 100px;

    border: 3px solid var(--borderColor);
    background-color: var(--mainColor);

    border-radius: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.startGame:hover {
    background-color: gray;
}

.csorePanel {
    display: none;
    width: 300px;
    height: 200px;

}

.playGamePanel {
    display: flex;
}


.gameName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.userName {
    width: 215px;
    height: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.scoreBall {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.saveScore {
    width: 215px;
    height: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: white;
    border: 1px solid var(--borderColor);
}

.saveScore:hover {
    background-color: gray;
}

.tableScore {
    border: 1px solid var(--borderColor);
    margin: 0 auto;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.trScore {
    border: 1px solid var(--borderColor);
}

.tdTable {
    border: 1px solid var(--borderColor);
}

.blockWithResults {
}

.footer {
    width: var(--widthCanvast);
    height: 50px;
    border-top: 1px solid var(--borderColor);

    margin: 0 auto;
}

.flexSpArCe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.text {
    font-size: 20px;
}

.rs_school {
    width: 80px;
}