* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sizeButton: 55px;
    /* --colorButton: #d61b22; */
    /* --colorButton: #c71ff3; */
    --colorButton: #6bb4d1;
    ;
    /* --colorPlayer: #9b9e99; */
    --colorPlayer: #9b9e99;
    --colorText: white;
}

.flexSpArSt {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.flexSpBeCe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playOrPauseBtn {
    width: var(--sizeButton);
    height: var(--sizeButton);
    border-radius: 50px;
    background-image: url("image/play.png");
    background-size: contain;
    background-color: var(--colorButton);
}

.pause {
    background-image: url("image/pause.png");
}

.previousTrack {
    width: var(--sizeButton);
    height: var(--sizeButton);
    border-radius: 10px;
    background-image: url("image/left.png");
    background-size: contain;
    background-color: var(--colorButton);

}

.nextTrack {
    width: var(--sizeButton);
    height: var(--sizeButton);
    border-radius: 10px;
    background-image: url("image/right.png");
    background-size: contain;
    background-color: var(--colorButton);
}

.bgImage {
    margin: 0 auto;
    padding-top: 170px;
    width: 1280px;
    height: 720px;

    background-image: url('image/7924.jpg');
    background-size: cover;
}

.audioPlayer {
    width: 459px;
    height: 550px;

    margin: 0 auto;

    /* background-color: aqua; */
    border-radius: 15px;

    box-shadow: 10px black;
}

.bgImageMimi {
    width: 100%;
    height: 370px;

    background-color: blue;
    border-radius: 15px 15px 0 0;

    background-image: url('image/sddefault.jpg');
    background-size: cover;
}

.panelPlayer {
    width: 100%;
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--colorPlayer);

    border-radius: 0 0 15px 15px;

    border: 3px solid black;
}

.buttonPanel {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    margin-top: 10px;
}

.textPanel {
    width: 100%;
    height: 20px;

    margin-top: 30px;

    display: flex;

    /* background-color: aquamarine; */
}

.progressAudio,
.progressAudio::-webkit-progress-value {
    width: 100%;
    /* margin: 0 auto; */
    height: 10px;

    border-radius: 0px;
    background-color: var(--colorButton);
}

.progressBlock {
    margin: 0;
    padding: 0;
}

.sec,
.secAll {
    color: var(--colorText);
}

.authorTrack,
.nameTrack {
    color: var(--colorText);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}